.header_component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 25px;
  padding: 10px;
  background-color: #393856;
  color: #FAF9F9;
  font-size: 20px;
  svg {
    font-size: 25px;
  }
}
