.header_component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 10px;
  background-color: #f8b195;
  color: #355c7d;
  svg {
    font-size: 25px;
  }
}
